<!-- 記事用フォーム -->
  <%= form_for @blog do |f| %>
<p>
  <!--タイトル入力フィールド-->
  タイトル<br>
  <%= f.text_field :title, :size => "20" %><br>
  
  <!--本文入力フィールド-->
  本文<br>
  <%= f.text_area :main, :size =>"40x20"%><br>
  <!--決定ボタン　@ボタンの名前は、@labelで個別に指定-->
  <%= f.submit([@label])%>
</p>
<% end %>
<% if @blog.errors.any? %>
<%= @blog.errors.messages[:title][0] %>
<%= @blog.errors.messages[:main][0] %>
<% end %>

