<!--簡易ブログのトップページ
    トップページは一覧画面とする。
  -->
<h1>簡易ブログ</h1>

<!-- 新規投稿画面へのリンクを作成 -->
<%= link_to "新しい記事を掲載する", new_blog_path %>

<!-- 投稿記事一覧を表示するための処理 -->
<u1>
  <% @blog.each do |blog| %>
  <li>
    <!--タイトルを表示-->
    <%= blog.title%>
    <!--投稿時間の表示-->

    <br>
    <!--内容の表示-->
    <%= simple_format(blog.main)%>
    <br>
    投稿日時 :
    <%= blog.created_at %>
    編集日時 :
    <%= blog.updated_at %>
    <br>
    <!--記事編集へのリンク-->
    <%= link_to "[編集]", edit_blog_path(blog.id) %>
    
    <!--記事削除へのリンク-->
    <%= link_to "[削除]", blog_path(blog.id),method: :delete, data:
	{confirm: "記事を削除してもよろしいですか。"} %>
  </li>
  <% end %>
</u1>
