<!DOCTYPE html>
<html>
<head>
  <title>研修用：簡易ブログ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>研修用：簡易ブログ</h1>
  <%= yield %>

  <br>
  <%= link_to "トップへ" , blogs_path %>

</body>
</html>
